<?xml version="1.0"?>
<model>
  <name>Simple Gripper</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Ammar Kothari</name>
   <email>KothariA@oregonstate.edu</email>
  </author>

  <description>
    Simple Gripper to Learn Contact Dynamics
  </description>
</model>